html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    font-family: "Roboto Condensed", serif;
}

nav{
    text-align: center;
    padding-top: 80px;
}

#main-title {
    font-size: 2em;
    margin-top: 10%;
    margin-left: 30px;
}

.product-type {
    margin-top: 10%;
    margin-left: 30px;
}


a  {
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: black;
    font-size:large;
}

a:hover {
    color:dimgrey;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 1rem; 
    align-items: center; 
    margin: 0 auto; 
    padding: 2rem;
    margin-top:10px;
    width: 780px;
    grid-auto-rows: 200px;
}


.products-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.page-description {
    width: 80%; 
    margin: 0 auto;
    padding: 20px; 
    text-align: center;
}



/*Animation: Button*/

button {
    background-color: whitesmoke;
    color: black;
    padding:  10px 20px;
    border: none;
    font-size: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-left: 30px;
}

button:hover {
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
}

img {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
}


@media (min-width: 1200px) {
    .products-container {
     width: 1600px;
     grid-auto-rows: 400px;
     gap: 2rem;
    }
    
    #main-title {
        font-size: 4rem;
    }
}