body {
    margin: 0rem;
}

nav {
    display: flex;
    gap: 0.5rem;
}
input {
    width: 25rem;
    border-radius: 0.3rem;
    height: 1.35rem;
    border: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container p {
    margin: 10px
}

section {
    background-color: rgb(181, 181, 181);
    width: 60rem;
    height: 25rem;
    margin: 0.6rem;
    border-radius: 0.3rem;
}

.selected-product {
    background-color: rgb(50, 50, 50);
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.checkout-section {
    background-color: rgb(181, 181, 181);
    width: 20rem;
    height: 12rem;
    padding: 1rem;
    padding-top: 2rem;
}
#checkout-text {
    border-bottom: 1px black;
    margin-top: -1rem;
}

#checkout-text p {
    margin: 4px;
}

#checkout-button {
    width: 96%;
    margin: 0.6rem;
    margin-top: 2.5rem;
    border-radius: 0.7rem;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#checkout-button:hover {
    box-shadow: 0 0 10px rgba(60,60,60);
}