body {
    margin: 0rem;
}

header {
    background-color: brown;
    padding: 1rem;
}
nav {
    display: flex;
    gap: 0.5rem;
}
.searchbar {
    background-color: aliceblue;
    padding-right: 12rem;
}

.container {
    display: grid;
}